h2 {{vm.slot.event.title}}
h3
  | From the {{vm.slot.event.start | date:'dd/MM/yyyy'}}
  | to the {{vm.slot.event.end | date:'dd/MM/yyyy'}}
.well
 <i>{{ vm.slot.event.description }}</i>

.panel.panel-default
  .panel-heading
    h3 {{ vm.slot.name }}
  .panel-body
    | {{ vm.start | date:'dd/MM/yyyy'}}
  ul.list-group
    li.list-group-item
      | From {{vm.start | date:'HH:mm'}}</b>
      | to {{vm.end | date:'HH:mm'}}</b>
      | ({{vm.slot.duration}} minutes)
a.btn.btn-default(href="#/calendar") Back
