$fa-font-path: jspm_resolve("font-awesome/fonts/");
@import "jspm:font-awesome/scss/font-awesome";
@import "jspm:bootstrap/css/bootstrap";
@import "jspm:fullcalendar/dist/fullcalendar";
@import "jspm:angular-bootstrap-datetimepicker/src/css/datetimepicker";

$color-primary: #375684;

body
{
  background-color: #fff;
}

#header, #content
{
  padding: 20px;
}

#header
{
  background-color: $color-primary;
  color: #fff;
  padding: 20px;

  h1, #eventAdd
  {
    display: inline;
  }

  #eventAdd
  {
    float: right;
  }
}

#content
{
  h2
  {
    color: $color-primary;
  }

  .panel-heading h3
  {
    margin: 0;
  }

  .btn
  {
    margin: 10px;
  }
}

.fc-day-grid-event .fc-content {
  height: 25px;
}
